<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/head.html::head">
</head>
<body>
	<header th:replace="fragments/header :: header"> </header>
<style>

.bcontent{
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* ellipsis line */
	-webkit-box-orient: vertical;
	/* webkit 엔진을 사용하지 않는 브라우저를 위한 속성. */
	/* height = line-height * line = 1.2em * 3 = 3.6em  */
	line-height: 1.2em;
	height: 3.6em; 
}

</style>
	<section th:replace="/fragments/section.html::section"></section>

	<section class="ftco-section bg-light">
		<div class="container">
			<div>
				<h1 class="mb-4" align="center"
					style="display: inline-block; text-align: center;">공지사항</h1>
				<input type="button" value="공지 작성" id="writeBtn"
					style="float: right;" class="btn btn-primary"
					sec:authorize="hasRole('ROLE_ADMIN')"
					onclick="location.href='/notice/write'">
			</div>
			<hr>
			<div class="d-block services text-center" th:each="b : ${list }">
				<div class="media-body p-4">
					<h3 class="heading">[[${b.boardTitle }]]</h3>
					<div class="meta mb-2">
						<div style="float: right;">[[${b.boardDate }]]</div>
					</div>
					<br>
					<hr>
					<p align="left" class="bcontent">[[${b.boardContent }]]</p>
					<a th:href="@{/notice/read(boardNum=${b.boardNum })}"
						class="btn-custom d-flex align-items-center justify-content-center"><span
						class="fa fa-chevron-right"></span><i class="sr-only">Read
							more</i></a>
				</div>
			</div>
		</div>
	</section>

	<!-- loader -->
	<!-- 	<div id="ftco-loader" class="show fullscreen">
		<svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none"
				stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none"
				stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg>
	</div> -->

	<footer th:replace="fragments/footer :: footer"> </footer>

</body>
</html>