<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/head.html::head">
</head>
<body>
	<header th:replace="fragments/header :: header"> </header>
	<section th:replace="/fragments/section.html::section"></section>
	
	<section class="hero-wrap hero-wrap-2" style="display: inline-block;">
		<div class="row no-gutters">
			<div class="col-md-7" style="margin: auto;">
				<div class="contact-wrap w-100 p-md-5 p-4">
					<h3 class="mb-4">공지 수정</h3>
					<hr>
					<form th:action="@{modify}" method="POST" id="modifyForm"
						name="modifyForm" class="contactForm">
						<input type="hidden" id="boardNum" name="boardNum"
							th:value="${notice.boardNum}">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label class="label" for="name">제목</label> <input type="text"
										class="form-control" name="boardTitle" id="boardTitle"
										placeholder="Title" th:value="${notice.boardTitle}">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label class="label" for="subject">내용</label>
									<textarea cols="40" rows="20" class="form-control"
										placeholder="Contents" id="boardContent" name="boardContent"
										th:text="${notice.boardContent}"></textarea>
								</div>
							</div>

							<a th:href="@{/notice/read(boardNum=${notice.boardNum })}"
								class="btn-custom d-flex" style="margin-left: 0px"><span
								class="fa fa-chevron-left"></span><i class="sr-only">Read
									more</i></a>
							<div class="form-group" style="margin: auto">
								<input type="submit" value="수정하기" id="editBtn"
									class="btn btn-primary"> <input type="button"
									value="삭제하기" id="removeBtn" class="btn btn-danger"
									th:onclick="location.href='/notice/delete?boardNum=[[${notice.boardNum}]]'">
								<div class="submitting"></div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/footer :: footer"> </footer>
	</section>
</body>
<script>
$(document).ready(function() {
	$("#editBtn").click(function(e) {
		e.preventDefault();
		var id = $("#boardTitle").val();
		var name = $("#boardContent").val();

		if (id == "" || id == null) {
			alert("제목을 입력해주세요");
			$("#boardTitle").focus();
			return false;
		};
		if (name == "" || name == null) {
			alert("내용을 입력해주세요");
			$("#boardContent").focus();	
			return false;
		};
		$("#modifyForm").submit();
	}); 
});
</script>
</html>
