<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragments/head.html::head">
</head>
<body>
	<header th:replace="fragments/header :: header"> </header>
	<section class="hero-wrap hero-wrap-2">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-end">
				<div class="col-md-9 pb-5">
					<p class="breadcrumbs mb-2">
						<span class="mr-2"><a href="index.html">Home <i
								class="ion-ios-arrow-forward"></i></a></span> <span>Login <i
							class="ion-ios-arrow-forward"></i></span>
					</p>
					<h1 class="mb-0 bread">Login</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb ">
		<div class="overlay"></div>
		<div class="login">
			<div class="container">
				<div class="row d-md-flex justify-content-center">
					<div class="col-md-12 col-lg-6 half p-3 py-5">
						<h2 class="mb-4">Login</h2>
						 <div th:if="${param.error}">
					        <p class="alert alert-danger">아이디와 비밀번호를 확인해주세요.</p>
					    </div>
						<form th:action="@{loginProcessing}" class="appointment" method="post" id="login">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" name="memEmail"
											placeholder="e-mail" id="memId">
									</div>

								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="password" class="form-control" name="memPass"
											placeholder="Password" id="memPw">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="submit" id="login_btn" value="Login"
											class="btn btn-primary py-3 px-4">
									</div>
								</div>
							</div>
							<div class="search">
								<a href=#>아이디/비밀번호를 잃어버리셨습니까?</a>
							</div>
							<div>
								<p style="display:none" id="check" class="check" >아이디/비밀번호를 확인해주세요</p>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="overlay"></div>
			<div class="container">
				<div class="row d-md-flex justify-content-center">
					<div class="col-md-12 col-lg-6 half p-3 py-5 pl-lg-5">
						<h2 class="mb-4">Join</h2>
						<form th:action="@{/join}" class="appointment" id="insertForm"
							method="post">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" id="e-mail"
											name="memEmail" placeholder="e-mail">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" id="NickName"
											name="memName" placeholder="NickName">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" id="PhoneNumber"
											name="memPhone" placeholder="PhoneNumber">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="password" class="form-control" id="Password"
											name="memPass" placeholder="Password">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="password" class="form-control" id="RePassword"
											placeholder="RePassword">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="submit" id="join_btn" value="Join"
											class="btn btn-primary py-3 px-4">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		
	</section>

	<script th:inline="javascript">
    
	$( document ).ready( function() {
    	/*<![CDATA[*/
    		var result = /*[[${result}]]*/ 
	    	if(result=="joinFail"){
	    		alert("이미 가입된 이메일입니다.");
	    	}else if(result=="joinSuccess"){
					alert("가입을 환영합니다.");
				}
    	/*]]*/
    	
    	$("#join_btn").click(function(e){
    		e.preventDefault();
    		checkAll();
    	});
    	
    	$("#login_btn").click(function(e){
    		e.preventDefault();
    		checkLogin();
    	});
    	
    	function checkLogin(){
				var reg_email = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;
				var psRegex = /^[a-zA-Z0-9!@#$%^&*()?_~]{8,20}$/
				var ckemail = $('#memId').val();
				var ckps = $('#memPw').val();	 

    		if(ckemail==""){	
					alert("e-mail을 입력해주세요");	 
					$('#memId').focus();
					return false;
     		} else if(!(reg_email.test(ckemail))){
					alert("유효하지 않은 이메일 양식입니다.  ex)abc@gmail.com");
 					$('#e-mail').focus();
 					return false;
    		}else if(ckps=="") {
					alert("비밀번호를 입력해주세요");
					$('#memPw').focus();
					return false;
    		} else if(ckps.search(/\s/) != -1) {
					alert("비밀번호를 공백없이 입력해주세요");
					$('#memPw').val("");
					$('#memPw').focus();
					return false;
 				} else if(!(psRegex.test(ckps))){
 	        alert("비밀번호는 숫자, 영문, 특수문자(!@$%^&*?_~ 만 허용) 조합으로 8~20자리를 사용해야 합니다.")	
 	        $('#memPw').val("");
 	        $('#memPw').focus();
 	        return false; 
				} 
    		$("#login").submit();
    	}
    	
    	 function checkAll() {
				var reg_email = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;
    			var psRegex = /^[a-zA-Z0-9!@#$%^&*()?_~]{8,20}$/
				var specialCheck = /[~!@#$%^&*()_+|<>?:{}]/;
    			var regExp = /^[0-9]*$/;
    			
    			var ckemail = $('#e-mail').val();
    			var ckname = $('#NickName').val();	 
    			var cknumber = $('#PhoneNumber').val();	 
    			var ckps = $('#Password').val();	 
    			var ckreps = $('#RePassword').val();	
    			
    			if(ckemail==""){	
    				alert("e-mail을 입력해주세요");	 
    				$('#e-mail').focus();
    				return false;
     			} else if(!(reg_email.test(ckemail))){
     				alert("유호하지 않은 이메일 양식입니다.  ex)abc@gmail.com");
     				$('#e-mail').focus();
     				return false;
    			} else if(ckname=="") {
    				alert("닉네임을 입력해주세요");
    				$('#NickName').focus();
    				return false;
    			} else if(ckname.search(/\s/) != -1) {
    				alert("닉네임을 공백없이 입력해주세요");
    				$('#NickName').focus();
    				$('#NickName').val('');
    				return false;
    			} else if (specialCheck.test(ckname)) {
    				alert("닉네임에 특수문자는 포함 할 수 없습니다."); 
    				$('#memName').focus();
    				return false;
    			}else if(cknumber=="") {
    				alert("연락처를 입력해주세요");
    				$('#PhoneNumber').focus();
    				return false;
    			}else if( !regExp.test(cknumber)) {
	   			    alert("-를 제외한 숫자만 입력해주세요");
	   			    $('#PhoneNumber').val('');
	   			    $('#PhoneNumber').focus();
	   				return false;  
    			}else if(ckps=="") {
    				alert("비밀번호를 입력해주세요");
    				$('#Password').focus();
    				return false;
    			} else if(ckreps=="") {
    				alert("비밀번호를 다시 입력해주세요");
    				$('#RePassword').focus();
    				return false;
    			} else if(ckps != ckreps) {
    				alert("비밀번호가 서로 다릅니다")
    				$('#Password').val("");
    				$('#RePassword').val("");
    				$('#Password').focus();
    				return false;
    			} else if(ckps.search(/\s/) != -1) {
    				alert("비밀번호를 공백없이 입력해주세요");
    				$('#Password').val("");
    				$('#RePassword').val("");
    				$('#Password').focus();
    				return false;
     			} else if(!(psRegex.test(ckps))){
 		            alert("비밀번호는 숫자, 영문, 특수문자(!@$%^&*?_~ 만 허용) 조합으로 8~20자리를 사용해야 합니다.")	
 		            $('#Password').val("");
 		    				$('#RePassword').val("");
 		    				$('#Password').focus();
 		            return false; 
    			}
    		
    	 	//alert("회원가입이 완료되었습니다");
    		$("#insertForm").submit();
    	 }

   });
 	
</script>

<footer th:replace="fragments/footer :: footer"> </footer>

</body>

</html>